* {
    padding: 0;
    margin: 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 500px;
    align-items: flex-end;
}

.imagen-galeria {
    width: 300px;
    height: 300px;
}

.imagen-galeria:hover {
    opacity: 0.5;
    cursor: pointer;
}